body {
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}

ul.messages {
	list-style: none;
}

li.success {
	color: green;
}

li.error {
	color: red;
}

#pagewrap {
	display: block;
	max-width: 75rem;
	width: 100%;
	margin: 0 auto;
	white-space: nowrap;
}

.col-1-2 {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.button {
	display: table;
	margin: 1rem auto 1rem 0;
	background-color: #4286f4;
	color: #ffffff;
	border: 2px solid #4286f4;
	padding: 6px 18px;
	transition: all 0.2s ease 0s;
}

.button:hover {
	background-color: transparent;
	color: #4286f4;
	cursor: pointer;
}

form {
	max-width: 500px;
	width: 100%;
	white-space: normal;
	margin: 1rem;
	padding: 1rem 2rem;
	border: 1px solid black;
	position: relative;
}

form .title {
	position: absolute;
    display: inline-block;
    top: -17px;
    margin: 0;
    padding: 0.5rem;
    background-color: white;
}

form label {
	display: inline-block;
	width: 100px;
	margin: 0.5rem 0;
}

form input[type="text"], form input[type="password"] {
	display: inline-block;
	width: calc(100% - 115px);
}

form span {
	display: block;
	font-size: 0.7rem;
}

.checked {
    color: orange;
}

.books {
	overflow-y: scroll;
	border: 1px solid black;
	height: 200px;
	width: 400px;
}

.books a {
	display: block;
}

a.delete {
	color: red;
	float: right;
}